{% extends "base.html" %} {% load static from staticfiles %} {% load crispy_forms_tags %} {% load humanize %} {% block head_js %} {% endblock %} {% block content %}
<div class="row row-flex">

  {% for item in cart_items %}

  <div class="col-12 col-md-6 col-lg-4 card_post">
    <div class="card" style="width: 18rem;">
      <div class="img-background" style="background: url('{% if item.product.image %}{{ item.product.image.url }}{% else %}{{ item.product.category.default_image.url }}{% endif %}')no-repeat center center;"></div>
      <div class="card-body" style="height: 10rem;">
        <p class="card-title"><a href="{% url 'product-detail' item.product.id %}">{{item.product.name}}</a></p>
        <div class="row">
          <div class="col-12">
            Price: &euro;{{ item.product.price | floatformat:2 | intcomma }}
          </div>
          <div class="col-12">
            {% if product.quantity == -1 %} Amount ordered: Unlimited {% else %} Amount ordered: {{ item.quantity }} {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>


  {% endfor %}

</div>

<div class="row">
  <p style="height: 100%; vertical-align: middle; font-size: 2rem">
    Total &euro;{{ total }} &nbsp;
  </p>
</div>

<div class="wrapper">
  <script src="https://js.stripe.com/v3/"></script>

  <form action="{% url 'checkout' %}" method="post" id="payment-form">
    {% csrf_token %}

    <div class="form-group col-md-6">
      {{ order_form | crispy }}
    </div>

    <div class="form-row flex-column" id="payment_form">
      <label for="card-element">
        Credit or debit card
      </label>
      <div id="card-element" class="form-control" class="StripeElement StripeElement--empty">
        <div class="__PrivateStripeElement" style="margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;">
          <iframe frameborder="0" allowtransparency="true" scrolling="no" name="__privateStripeFrame5" allowpaymentrequest="true" src="https://js.stripe.com/v3/elements-inner-card-b0534b8251b1ac7192d42cd951de7308.html#style[base][color]=%2332325d&amp;style[base][fontFamily]=%22Helvetica+Neue%22%2C+Helvetica%2C+sans-serif&amp;style[base][fontSmoothing]=antialiased&amp;style[base][fontSize]=16px&amp;style[base][::placeholder][color]=%23aab7c4&amp;style[invalid][color]=%23fa755a&amp;style[invalid][iconColor]=%23fa755a&amp;componentName=card&amp;wait=false&amp;rtl=false&amp;keyMode=test&amp;origin=https%3A%2F%2Fstripe.com&amp;referrer=https%3A%2F%2Fstripe.com%2Fdocs%2Fstripe-js%2Felements%2Fquickstart&amp;controllerId=__privateStripeController1"
            title="Secure payment input frame" style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; user-select: none !important; height: 19.2px;">
              
          </iframe><input class="__PrivateStripeElement-input" aria-hidden="true" aria-label=" " autocomplete="false" maxlength="1" style="border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: 0px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;">
        </div>
      </div>

      <!-- Used to display form errors. -->
      <div id="card-errors" role="alert"></div>
    </div>

    <button type="button" class="btn btn-success" id="checkout_button">Submit Payment</button>
  </form>
</div>
{% endblock %} {% block js %}
<script type="text/javascript" src="{% static 'js/payment.js' %}"></script>
{% endblock %}
