body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  font-family: 'Bitter', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

a {
  color: #F4A460;
}

ul {
  margin: 0;
}

#form-size {
  width: 600px;
}

#page_container {
  position: relative;
  min-height: 100vh;
}

/*.........................................................Navbar*/

.bg-steel {
  background-color: #2E8B57;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
  
}

.site-header .navbar-nav .nav-link:hover {
  color: #F4A460;
}

.nav-title:hover {
  color: #F4A460;
}

/*............................................................... dropdown menu*/

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;

}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: 5px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 5px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.btn-secondary {
  color: #fff;
  background-color: transparent;
  border-color: white;
  margin-right: 0 !important;
}

.btn-secondary :hover>a:after {
  background-color: transparent;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
  color: green;
  background-color: #ffffff;
  border-color: white;
}


.btn-secondary:hover {
  color: #F4A460;
  background-color: white;
  border-color: green;
}

/*................................................................Search*/
.search_button {
  margin-top: 5px;
}
.search-bar {
  margin-left: 12px;
  margin-right: auto;
  margin-bottom: 12px;
}
#q-submit{
  margin-top: 5px;
}
.search-input {
  width: 100%;
}

.card_post {
  padding-bottom: 30px;
  padding-top: 30px;

}

.card_button {
  margin-top: 30px;
}

/*.........................................................Products*/

.img-background {
  width: 17rem;
  height: 17rem;
  margin: 0.5rem 0.5rem 0 0.5rem;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.card-body {
  height: 16rem;
  position: relative;
  padding: 0.5rem;
}

.card-title {
  color: #F4A460;
  font-size: 1.1rem;
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 0.6rem;
}

.card-text {
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
}

.card-add-to-basket {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
}
.quantity{
  position:relative;
  margin-left:-10px;
}
.nothing-found {
  height: 400px; 
  width: 100%;
  display: inline-table;
}

.nothing-found-text {
  display: table-cell; 
  vertical-align: middle;
  top: 50%;
  text-align: center;
  font-size: 2rem;
}

/*.........................................................Home*/
.main_content {
  padding-bottom: 300px;
}
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
 
  margin-top: 50px;
  
}

.article-title {
  color: black;
  font-size: 1em;
  word-break: break-all;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

a.article-title:hover {
  color: #2E8B57;
  text-decoration: none;
}

.navbar-dark .navbar-brand:hover {
  color: white;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/*................................................................Checkout*/
.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.cart_total{
  color:green;
}

/*...............................................................Footer*/

section {
  padding: 15px 0;
}

section .section-title {
  text-align: center;
  color: #2E8B57;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#footer {
   background: #2E8B57 !important;
   margin-top: 100px;
   position: absolute;
   bottom:0;
   width:100%;
   height:200px;   /* Height of the footer */
}

#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}

#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
  padding: 3px 0;
}

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}

#footer ul.social li a:hover {
  color: #eeeeee;
}

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}

#footer ul.quick-links li a i {
  margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
  color: #eeeeee;
}
/*............................................................... stripe*/

#checkout_button {
  margin-top: 20px;
  margin-left:12px;
}


#payment_form {
  margin-left:12px;
  margin-right:10px;
}

/*............................................................... media*/

@media (max-width: 767px) {
  .btn-secondary {
    margin-left: -20px;
  }
  .main_content {
    width: 400px;
  }
  #form-size {
    width: 300px;
  }
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
  .quantity {
    position:relative;
    margin-left:-10px;
  }

 
}


/*............................................................... profile */

.menu-item {
  cursor: pointer;
  width: 100%;
  margin-bottom: 0.5rem;
}

.menu-detail {
  display: none;
}

.transaction {
  cursor: zoom-in;
}

.transaction:hover {
  background-color: #EAEAEA;
}

.transaction-detail {
  display: none;
}

.zoomout {
  cursor: zoom-out;
}