{% extends "blog/base.html" %}
{% block content %}
<nav class="navbar navbar-light bg-light col-md-10">
    <form class="form-inline">
        <input id="form-size"class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<div class="row">
{% for post in posts %}
    <div class="col-md-4 card_post">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ post.author.profile.image.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title title">{{post.title}}</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-success card_button">Learn more</a>
            </div>
        </div>
    </div>
        
{% endfor %}
</div>

      
{% endblock content %}
