{% extends "base.html" %}
{% block content %}
    <h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    <div class="row">
      {% for product in products %}
        <div class="col-12 col-md-6 col-lg-4 card_post">
            <div class="card" style="width: 18rem;">
              
              <div class="img-background" style="background: url('{{ product.image.url }}') no-repeat center center;"></div>

                <div class="card-body">
                    <p class="card-title">{{product.name}}</p>
                    <p class="card-text">{{ product.description | truncatechars:90 }}</p>
                    <div class="card-add-to-basket">
                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                      {% csrf_token %}
                      <div class="input-group">
                          <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                          <span class="input-group-btn">
                              <button class="btn btn-success" type="submit">Add</button>
                          </span>
                      </div>
                    </form>
                    </div>
                
                </div>
            </div>
        </div>
      {% endfor %}
    </div>
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}